In [2]:
import pandas as pd
import csv
import os

In [3]:
pwd

'/Users/rudymartinez/Desktop/MSDA/Data-Analytics-Tools-and-Techniques/00. Project 1/Project-Script-and-Outputs/APTV'

#### Create DataFrames and Transpose

In [7]:
inc_df = pd.read_csv("01. APTV Income Statement.csv")
# inc_df = inc_df.T

In [8]:
bs_df = pd.read_csv("02. APTV Balance Sheet.csv")
# bs_df = bs_df.T

In [9]:
cf_df = pd.read_csv("03. APTV Cash Flow Statement.csv")
# cf_df = cf_df.T

#### Clean Dataframes

In [11]:
inc_df = inc_df.iloc[1:]
bs_df = bs_df.iloc[1:]
cf_df = cf_df.iloc[1:]

In [12]:
inc_df
bs_df
cf_df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
1,Breakdown,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,End Cash Position,Capital Expenditure,Issuance of Capital Stock,Issuance of Debt,Repayment of Debt,Repurchase of Capital Stock,Free Cash Flow
2,ttm,1701000,1083000,1170000,2110000,751000,2230000,1898000,411000,251000,950000
3,12/31/2020,1413000,626000,1613000,2853000,586000,2230000,0,411000,57000,827000
4,12/31/2019,1624000.0,1111000.0,649000.0,429000.0,781000.0,0.0,641000.0,679000.0,420000.0,843000.0
5,12/31/2018,1628000.0,2048000.0,555000.0,568000.0,846000.0,0.0,255000.0,0.0,499000.0,782000.0
6,12/31/2017,1468000.0,1252000.0,456000.0,1596000.0,698000.0,0.0,796000.0,17000.0,383000.0,770000.0

#### Export Dataframes

In [13]:
inc_df.to_csv('01. APTV Income Statement.csv')
bs_df.to_csv('02. APTV Balance Sheet.csv')
cf_df.to_csv('03. APTV Cash Flow Statement.csv')