In [2]:
import pandas as pd
import csv
import os

#### Create DataFrames and Transpose

In [3]:
inc_df = pd.read_csv("01. TSLA Income Statement.csv")
inc_df = inc_df.T

In [4]:
bs_df = pd.read_csv("02. TSLA Balance Sheet.csv")
bs_df = bs_df.T

In [5]:
cf_df = pd.read_csv("03. TSLA Cash Flow Statement.csv")
cf_df = cf_df.T

#### Clean Dataframes

In [10]:
inc_df = inc_df.iloc[1:]
bs_df = bs_df.iloc[1:]
cf_df = cf_df.iloc[1:]

In [11]:
inc_df
bs_df
cf_df

,0,1,2,3,4,5,6,7,8,9,10
Breakdown,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,End Cash Position,Income Tax Paid Supplemental Data,Interest Paid Supplemental Data,Capital Expenditure,Issuance of Capital Stock,Issuance of Debt,Repayment of Debt,Free Cash Flow
ttm,5943000,3132000,9973000,19901000,115000,444000,3242000,12269000,9713000,12201000,2701000
12/31/2020,5943000,3132000,9973000,19901000,115000,444000,3242000,12269000,9713000,12201000,2701000
12/31/2019,2405000,1436000,1529000,6783000,54000,455000,1437000,848000,10669000,9871000,968000
12/31/2018,2097802,2337428,573755,4276388,35409,380836,2319516,0,6176173,6087029,221714
12/31/2017,60654,4418967,4414864,3367914,65695,182571,4081354,400175,7649376,4263788,4142008

#### Export Dataframes

In [12]:
inc_df.to_csv('01. TSLA Income Statement.csv')
bs_df.to_csv('02. TSLA Balance Sheet.csv')
cf_df.to_csv('03. TSLA Cash Flow Statement.csv')